@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");
.App {
  font-family: sans-serif;
  margin: 20px;
}

.App h1 {
  text-align: center;
  margin: 15px;
}

.custom-dropdown {
  cursor: pointer;
  text-decoration: underline 2px dashed #ababf5;
  display: inline-block;
}

.custom-dropdown-menu {
  display: none;
  list-style-type: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  padding-inline-start: 0px;
  margin-left: -0.6rem;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.2);
  font-size: 2.2rem;
}

.custom-dropdown:hover > ul {
  display: block;
}

.custom-dropdown-menu li {
  padding: 10px;
  min-width: 100px;
  text-align: left;
}

.custom-dropdown-menu li:hover {
  background-color: rgb(231, 248, 253);
}

.card {
  padding: 10px;
}

.pull-right {
  float: right !important;
}

.rating {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font: 16px sans-serif;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #486fcb;
  color: rgb(245, 245, 245);
}

.game-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media (max-width: 600px) {
  .game-list {
    grid-template-columns: 1fr;
  }
}

.alert {
  position: absolute;
  margin-top: 15%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  text-align: center;
  z-index: 10000;
}
